@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bebas+Neue&family=Courgette&family=Inconsolata:wght@200..900&family=Oswald:wght@200..700&family=Playwrite+RO:wght@100..400&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Sekuya&display=swap');


.h1Work{
    font-size: 4rem;
  color: #f6e4bf ;
  overflow: hidden;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: underline;
}

.trabajos{

  width: 70%;
  margin:  auto;
  padding: 0 40px;
  border-radius: 24px;
}

.h2Work{
    color: #f6e4bf !important;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
    overflow: hidden;
}

.realismo{
    margin-top: 70px;
}

.pWork{
    font-size: 1.2rem;
    color: #f6e4bf ;
    font-family: 'Bebas Neue', sans-serif;
}